<div class="jumbotron">
    <div class="container" ng-disabled="bg_disable">
        <div id="cover" ng-show="bg_disable"></div>    
        <div class="loader" ng-if="loaded==false"></div>
        <div class="row">
            <div class="col-md-12">
                <form name="form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email" ng-required="true" ng-model="vm.form['email']">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-required="true" ng-model="vm.form['password']">
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="loginSubmit(vm.form)" ng-disabled="form.$invalid">Submit</button>
                </form>
                <a href="#!/signup">Dont have account? signup please</a>
            </div>
        </div>
    </div>

</div>